<template>
  <div id="content">
    <img v-if="!loading" width="800" height="600" v-bind:src="renderSvg">
    <img v-if="!loading" width="800" height="600" v-bind:src="renderSvg">
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name: 'Content',
  props: {
    msg: String
  },
  data() {
    return {
      loading: false,
      svg: '',
      img: ''
    }
  },
  computed: {
    renderSvg() {
      if (!this.svg) return ''
      return `data:image/svg+xml;base64,${this.svg}`
    },
    renderImg() {
      if (!this.img) return ''
      return this.img
    }
  },
  mounted() {
    this.loading = true
    axios.get('http://localhost:3000')
      .then(res => {
        this.svg = res.data.svg
        this.loading = false
      })
      .catch(err => {
        this.loading = false
        console.log(err.message)
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#content {
  background: lightblue;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
</style>
