<template>
  <div id="navigation">
    adad
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#navigation {
  background: lightcoral;
  display: flex;
  flex-direction: row;
  flex: 1;
  max-height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}
</style>
