<template>
  <div id="app">
    <div v-if="loading" id="loading">
      <span style="font-size: 3em; color: Grey;">
        <i class="fas fa-spin fa-sync-alt"></i>
      </span>
    </div>
    <nav v-if="!loading">
      <span @click="fetchImg" v-if="!loading" style="font-size: 3em; color: Grey; cursor: pointer;">
        <i class="fas fa-sync-alt"></i>
      </span>
    </nav>
    <article v-if="!loading">
      <div class="box">
        <img v-if="!loading" v-bind:src="renderSvg">
      </div>
      <div class="box">
        <img v-if="!loading" v-bind:src="renderImg">
      </div>
    </article>
    <footer v-if="!loading">
      <span>
        Made with <a href="https://nodejs.org/">Node</a>, <a href="https://npmjs.com/package/sqip">SQIP</a> and <a href="https://vuejs.org/">Vue</a>, using images from <a href="https://unsplash.com/">Unsplash</a>, all hosted on&nbsp;<a href="https://zeit.co/now">now.sh</a>
      </span>
    </footer>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      loading: false,
      svg: '',
      img: ''
    }
  },
  computed: {
    renderSvg() {
      if (!this.svg) return ''
      return `data:image/svg+xml;base64,${this.svg}`
    },
    renderImg() {
      if (!this.img) return ''
      return this.img
    }
  },
  methods: {
    fetchImg() {
      if (this.loading) return
      this.loading = true
      axios.get('https://sqip-api.ndls.xyz')
      .then(res => {
        this.svg = res.data.svg
        this.img = res.data.url
        this.loading = false
      })
      .catch(err => {
        this.loading = false
        console.log(err.message)
      })
    }
  },
  mounted() {
    this.fetchImg()
  }
}
</script>

<style>
body {
  padding: 0;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a:link {
  color: #2c3e50;
  font-weight: 600;
  text-decoration: none;
}
a:visited {
  color: #2c3e50;
}
a:hover {
  color: #2c3e50;
}
a:active {
  color: #2c3e50;
}
#loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  padding: 2em;
  justify-content: center; 
}
article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1em;
}
article .box {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 600px;
  padding: 0 1em 1em 0;

}
article img {
  height: 100%;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
}
footer {
  display: flex;
  flex-direction: row;
  padding: 3em;
  font-size: 1.3rem;
}
@media (max-width: 800px) {
  article {
    display: flex;
    flex: 9;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1em 0 1em;
  }
  article .box {
    padding: 0 0 1em 0;
  }
}
</style>
